<% if @bank_accounts.any? %>
  <% @bank_accounts.each do |bank_account| %>
    <h2> <%= bank_account.name %> </h2>
    <h4> <%= link_to "View statement for #{bank_account.name}", bank_account_path(bank_account) %></h4>
    <h4> Deposits total: £<%= bank_account.deposit_total%></h4>
    <h4> Withdrawals total: £<%=bank_account.withdrawal_total%></h4>
    <h4> Balance: £<%= bank_account.balance %></h4>
    <ul>
      <li><%= link_to "Edit name for #{bank_account.name}", edit_bank_account_path(bank_account) %></li>
      <li><%= link_to "Delete #{bank_account.name}", bank_account_path(bank_account), method: :delete %></li>
      <li><%= link_to "Make a deposit to #{bank_account.name}", new_bank_account_deposit_path(bank_account) %></li>
      <li><%= link_to "Withdraw from #{bank_account.name}", new_bank_account_withdrawal_path(bank_account) %></li>
    </ul>
  <% end %>
<% else %>
No bank accounts yet
<% end %>
<br>
<a><%= link_to 'Add a new bank account', new_bank_account_path %> </a>
