<% cumulative_balance = 0%>

<h2><%= @bank_account.name %></h2>
<%= @bank_account.balance %>
<table border="1">
  <tr>
    <th>Date</th>
    <th>Credit</th>
    <th>Debit</th>
    <th>Balance</th>
  </tr>
<% [@bank_account.deposits, @bank_account.withdrawals].flatten.sort_by(&:created_at).each do |transaction| %>
<tr>
  <td><%=transaction.created_at.strftime("%d/%m/%Y")%></td>
  <% if transaction.is_a? Deposit %>
  <% cumulative_balance += transaction.amount %>
  <td><%=transaction.amount%></td>
  <td></td>
  <% elsif transaction.is_a? Withdrawal %>
  <% cumulative_balance -= transaction.amount %>
  <td></td>
  <td><%=transaction.amount%></td>
  <%end%>
  <td><%= cumulative_balance %></td>
</tr>
<%end%>
</table>
