<% debits_array = @bank_account.withdrawals.pluck(:amount) %>
<% credits_array = @bank_account.deposits.pluck(:amount) %>

<h2><%= @bank_account.name %></h2>
<table border="1">
  <tr><th colspan="4">Account Statement</th>
  </tr>
  <tr>
    <th>Date</th>
    <th>Credit</th>
    <th>Debit</th>
    <th>Balance</th>
  </tr>
<% [@bank_account.deposits, @bank_account.withdrawals].flatten.sort_by(&:created_at).reverse.each do |transaction| %>
<tr>
  <td><%=transaction.created_at.strftime("%d/%m/%Y")%></td>
  <% if transaction.is_a? Deposit %>
    <% latest_credit = credits_array.pop %>
    <% total_debits = debits_array.reduce(0, :+) %>
    <% total_credits = credits_array.reduce(0, :+) %>
    <% cumulative_balance = (total_credits - total_debits) + transaction.amount%>
    <td><%=transaction.amount%></td>
    <td></td>

  <% elsif transaction.is_a? Withdrawal %>
    <% latest_debit = debits_array.pop %>
    <% total_debits = debits_array.reduce(0, :+) %>
    <% total_credits = credits_array.reduce(0, :+) %>
    <% cumulative_balance = (total_credits - total_debits) - transaction.amount%>
    <td></td>
    <td><%=transaction.amount%></td>
  <%end%>
  <td><%= cumulative_balance %></td>
</tr>
<%end%>
</table>
